:host {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  height: 25vh;
  width: 95vw;
  max-width: 600px;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

.base {
  height: 0;
  opacity: 0;
}
